* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../../image/others/background.jpg);
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: burlywood;
    height: 100vh;
}

.form-class {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 32px;
    box-shadow: 0 0 17px 2px rgba(255, 255, 255, 0.4);
}

.heading {
    font-size: 32px;
    margin: 12px 0 40px 0;
    text-align: center;
}

.inner {
    margin: 12px 0;
    font-size: 22px;
}

.inner input,
textarea {
    border: 0;
    outline: 0;
    font-size: 16px;

}

.inner input {
    background-color: transparent;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid burlywood;
    color: #fff;
}

.radio-class {
    margin: 12px 0;
    font-size: 22px;
}

.radio-class div {
    margin: 18px 18px 18px 0;
    display: inline-block;
}

.btn {
    font-size: 20px;
    padding: 8px 10px;
    cursor: pointer;
    background-color: burlywood;
    color: black;
    border: none;
    border-radius: 5px;
    float: right;
}